<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>We may use your entered health records with Apple Health</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>We can use your entereed health information to show it within this app and Apple Health</string>
</dict>
</plist>
