<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<false/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>We collect your water intake and medication intake for sharing with the Apple Health app</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>We share your app records via the Health app</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We may update your Health usage</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
